.flex{
    display: flex;
}
.column{
    flex-flow: column;
}
.justify-content-center{
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.align-items-center{
    align-items: center;
}
.place-content-center {
    place-content: center;
}
.space-between {
    justify-content: space-between;
}
.align-itens-end{
    align-items: flex-end;
}
.wrap{
    flex-wrap: wrap;
}
.relative{
    position: relative;
}
.absolute {
    position: absolute;
}
.align-self-end{
    align-self: flex-end;
}
